<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:lang="http://www.springframework.org/schema/lang" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
	         http://www.springframework.org/schema/lang
	         http://www.springframework.org/schema/lang/spring-lang.xsd
	         http://www.springframework.org/schema/tx
	         http://www.springframework.org/schema/tx/spring-tx.xsd
	         http://www.springframework.org/schema/aop
	         http://www.springframework.org/schema/aop/spring-aop.xsd
	         http://www.springframework.org/schema/mvc
	         http://www.springframework.org/schema/mvc/spring-mvc.xsd
	         http://www.springframework.org/schema/context
	         http://www.springframework.org/schema/context/spring-context.xsd
	         http://www.springframework.org/schema/cache
	         http://www.springframework.org/schema/cache/spring-cache.xsd
	         http://www.springframework.org/schema/task
	         http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <context:component-scan base-package="com.mo"></context:component-scan>

    <mvc:annotation-driven >
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler />
    <!--<tx:annotation-driven />-->

    <!--静态资源配置-->
    <mvc:resources mapping="web/js/**" location="/./WEB-INF/web/js/" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- aop start-->
    <!--Controller异常日志处理-->
    <!--<bean id="controllerThrowsAdvice" class="com.ihefe.nurses.common.aop.ControllerThrowsAdvice" />-->
    <!--<aop:config>-->
        <!--<aop:advisor pointcut="execution(* com.ihefe.nurses.controller..*.*(..))"  advice-ref="controllerThrowsAdvice" />-->
    <!--</aop:config>-->
    <!-- aop end-->


    <!--定时任务配置 start-->
    <!-- 启动触发器的配置开始 -->
    <!--<bean name="startQuertz" lazy-init="false" autowire="no"-->
          <!--class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="myJobTrigger" />-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 启动触发器的配置结束 &ndash;&gt;-->

    <!--&lt;!&ndash; quartz-2.x的配置 &ndash;&gt;-->
    <!--<bean id="myJobTrigger"-->
          <!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
        <!--<property name="jobDetail">-->
            <!--<ref bean="myJobDetail" />-->
        <!--</property>-->
        <!--<property name="cronExpression">-->
            <!--&lt;!&ndash;一分钟触发一次&ndash;&gt;-->
            <!--&lt;!&ndash;<value>0 0/1 * * * ?</value>&ndash;&gt;-->
            <!--&lt;!&ndash;每天12点触发&ndash;&gt;-->
            <!--<value>0 0 7 * * ?</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 调度的配置结束 &ndash;&gt;-->

    <!--&lt;!&ndash; job的配置开始 &ndash;&gt;-->
    <!--<bean id="myJobDetail"-->
          <!--class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject">-->
            <!--<ref bean="myJob" />-->
        <!--</property>-->
        <!--<property name="targetMethod">-->
            <!--<value>execute</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; job的配置结束 &ndash;&gt;-->

    <!--&lt;!&ndash; 工作的bean &ndash;&gt;-->
    <!--<bean id="myJob" class="com.ihefe.nurses.common.task.task1.TestJob" />-->

    <!--&lt;!&ndash;定时任务配置 end&ndash;&gt;-->

    <!--&lt;!&ndash;websocket start&ndash;&gt;-->
    <!--<bean id="websocket" class="com.ihefe.nurses.common.websocket.handler.WebsocketEndPoint"/>-->

    <!--<websocket:handlers>-->
        <!--<websocket:mapping path="/websocket" handler="websocket"/>-->
        <!--<websocket:handshake-interceptors>-->
            <!--<bean class="com.ihefe.nurses.common.websocket.HandshakeInterceptor"/>-->
        <!--</websocket:handshake-interceptors>-->
    <!--</websocket:handlers>-->
    <!--&lt;!&ndash;websocket end&ndash;&gt;-->

</beans>
